@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'ico_cahee';
    src:  url('../fonts/ico_cahee.eot?76ecb6');
    src:  url('../fonts/ico_cahee.eot?76ecb6#iefix') format('embedded-opentype'),
      url('../fonts/ico_cahee.ttf?76ecb6') format('truetype'),
      url('../fonts/ico_cahee.woff?76ecb6') format('woff'),
      url('../fonts/ico_cahee.svg?76ecb6#ico_cahee') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

html {
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px #00C4C4 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.purple-part {
    background-color: #B07CF7;
    padding: 30px 0;
    box-shadow: inset 0px 0px 21px 7px rgba(0,0,0,0.21);
}

.titleStyle {
    font-size: 64px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 30px auto;
    width: 143px;
}

.subtitleStyle {
    font-family: 'Raleway', sans-serif;
    width: 532px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
}

.photosWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 175px;
    margin: 50px 0 0 0;
}

.photosWrapper .flexItem:nth-child(1) {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 75%),
                      url(../images/Clip1.jpg);
    width: 370px;
    padding: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.39);
    transition: 0.3s;
}

.photosWrapper .flexItem:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 75%),
                      url(../images/Clip2.jpg);
    width: 370px;
    padding: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.39);
    transition: 0.3s;
}

.photosWrapper .flexItem:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 75%), 
                      url(../images/Clip.jpg);
    width: 370px;
    padding: 20px;
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.39);
    transition: 0.3s;
}

.flexItem:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

.dateStyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    display: inline-block;
    width: 60px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 6px 0;
    border-radius: 8px;
    margin: 8px 0 0 8px;
}

.dateStyle span {
    font-size: 22px;
    font-weight: 900;
}

.infoStyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin: 129px 0 0 0;
}

.lowerInfo {
    font-size: 11px;
    font-weight: 400;
    margin: 25px 0 0 0;
}

.buttonStyle {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 12px 45px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    margin: 43px auto;
    display: block;
    background-color: #F72B3B;
    color: #fff;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.41);
    outline: none;
}

.buttonStyle:hover {
    cursor: pointer;
    background-color: #ff4b5a;
}

.buttonStyle:active {
    background-color: #ff8590;
    color: #F72B3B;
}

.strawberry-part {
    padding: 10px 0 50px 0;
    background-image: url(../images/img.png);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 1188px;
}

.header__menu {
    display: flex;
    padding: 0 10px; 
    align-items: center;   
}

.header__link {
    text-decoration: none;
    color: #000;
}

.header__item {
    display: inline-block;
    margin: 0 0 0 43px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    border-top: 3px solid transparent;
    padding: 5px 0 0 0;
}

.header__item:first-child {
    display: inline-block;
    margin: 0 0 0 43px;
    font-weight: 400;
    font-size: 50px;
    color: #000;
    text-transform: none;
    border-top: 3px solid transparent;
    padding: 5px 0 0 0;
}

.header__item:hover {
    cursor: pointer;
    border-color:#FF6033;
}

.header__item:first-child {
    margin: 0 auto 0 0;
    border: 3px solid transparent;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin: 230px 0 0 0;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    width: 400px;
    padding: 17px 0;
}

.button-link__item {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding: 13px 19px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #FF6033;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.38);
}

.button-link__item:hover {
   background-color: #ff7a55; 
   cursor: pointer;
}

.button-link__item:active {
    background-color: #faa790;
    color: #FF6033;
}

.scroll {
    width: 20px;
    margin: 365px auto 0 auto;
}

.scroll__icon { 
    width: 20px;
}

.scroll:hover {
    cursor: pointer;
}

.blue-part {
    background-color: #00C4C4;
    box-shadow: inset 0px 0px 21px 7px rgba(0,0,0,0.21);
}

.berries {
    display: inline-block;
    position: relative;
    right: 50px;
    top: 22px;
}

.info-part {
    display: inline-block;
    position: relative;
    bottom: 200px;
}

.title_info-part {
    margin-top: 0;
    font-size: 105px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}

.subtitle_info-part {
    width: 540px;
    color: #fff;
    font-weight: 100;
    padding: 7px 0;
}

.container_blue {
    max-width: 1260px;
    padding: 10px 0;
}

.form-part {
    padding: 115px 0 0 0;
    height: 876px;
}

.title_form-part {
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.subtitle_form-part {
    text-align: center;
    margin: 25px auto;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 178px 0 34px;
}

.content-wrapper__form {
    max-width: 470px;
}

.content-wrapper__item {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 17px;
    border: none;
    border-left: 4px solid #00C4C4;
    background-color: #00C4C4;
    opacity: 50%;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
 }

.content-wrapper__item:focus {
    border-color: #355B82;
    opacity: 100%;
}

.content-wrapper__item::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #fff;
}

.content-wrapper__title {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.content-wrapper__subtitle {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    width: 100%;
    margin: 0 0 15px 0;
}

.form-part {
    background-image: url(../images/form-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrapper__item_textarea {
    max-width: 471px;
    min-width: 471px;
    min-height: 180px;
    height: 220px;
    max-height: 260px;
    margin: 0 0 110px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    color: #6b6b6b;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    padding: 30px 197px;
    font-size: 13px;
}

.footer__red {
    color: #FF2B58;
    font-weight: 700;
}

.footer__logo {
    font-family: "Pacifico";
    font-size: 22px;
}

.header__link_logo {
    font-family: "Pacifico";
    font-size: 40px;
    color: #000;
}

.footer__link {
    text-decoration: none;
    color: #B9B9B9;
}

.our-services {
    background-color: #70BFFF;
    box-shadow: inset 0px 0px 21px 7px rgba(0,0,0,0.21);
    padding: 0 0 170px 0;
}

.our-services__list {
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
}

.our-services__item {
    box-shadow: 0px 2px 5px #00000080;
    background-color: #fff;
    display: flex;
    margin: 0 0 20px 0;
    text-decoration: none;
    color: #000;
}

.our-services__text {
    width: 82%;
    padding: 0 57px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our-services__icon {
    width: 25%;
    padding: 21px 0 0 24px;
    height: 90px;
    border-left: 1px solid #00000080;
    font-family: "ico_cahee";
    font-size: 44px;
}

.icon-ico_carrot:before {
    content: "\e900";
  }
  .icon-ico_globe:before {
    content: "\e901";
  }
  .icon-ico_hand:before {
    content: "\e902";
  }
  .icon-ico_train:before {
    content: "\e903";
  }

.our-services__picture {
    display: inline-block;
    background-image: url(../images/tomato.png);
    background-repeat: no-repeat;
    background-position: 28% 50%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 79px;
    height: 470px;
    background-size: contain;
    margin: 0 0 0 269px;
    padding: 191px 0 0 0;
    position: relative;
    top: 170px;
}